In [1]:
import h5py
from h5pyd import H5Image

In [2]:
# create an HDF5 file image domain
! hsload --h5image  s3://hdfgroup/data/hdf5test/tall.h5 hdf5://home/test_user1/test/tall_image.h5

In [3]:
# open the file using the H5Image "file-like object" class
f = h5py.File(H5Image("hdf5://home/test_user1/test/tall_image.h5"))

In [4]:
f.id.id

72057594037927936

In [5]:
list(f)

['g1', 'g2']

In [6]:
dset111 = f["/g1/g1.1/dset1.1.1"]
dset111

In [7]:
dset111[:,:]

array([[ 0,  0,  0,  0,  0,  0,  0,  0,  0,  0],
       [ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18],
       [ 0,  3,  6,  9, 12, 15, 18, 21, 24, 27],
       [ 0,  4,  8, 12, 16, 20, 24, 28, 32, 36],
       [ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45],
       [ 0,  6, 12, 18, 24, 30, 36, 42, 48, 54],
       [ 0,  7, 14, 21, 28, 35, 42, 49, 56, 63],
       [ 0,  8, 16, 24, 32, 40, 48, 56, 64, 72],
       [ 0,  9, 18, 27, 36, 45, 54, 63, 72, 81]], dtype='>i4')

In [8]:
f.close()